button {
  display: block;
  margin: 15px auto;
  padding: 10px;
  border-radius: 4px;
}

.camera {
  width: 100%;
  text-align: center;
}

.res_container {
  display: flex;
}

.json_container {
  margin-left: 15px;
  word-break: break-all;
}

.emoji_container {
  font-size: 180px;
}